html, body, div, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, button, script, input, label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  text-align: center;
}
html, body, .wrapper {
  height: 100%;
  overflow: hidden;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.middle {
  align-content: center;
  align-items: center;
}
body {
  position: relative;
}
button {
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
}
.wrapper {
  display: none;
}

/* 控制层 */
#control {
  display: block;
  padding-top: 20vh;
  color: #333;
  position: relative
}
.main-title {
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 100px;
}
#control-btn {
  margin-bottom: 26px;
}
#radio-box .fixeld-row {
  width: 100%;
  margin-bottom: 14px;
}
.fixeld {
  width: 340px;
}
.fixeld .flex{
  margin-right: 10px;
}
.config-label {
  width: 100px;
}
#radio-box input, #radio-box label {
  padding-left: 8px;
  cursor: pointer;
}
.explain {
  padding-top: 20px;
  color: #6d6d6d;
  line-height: 30px;
  font-size: 13px;
}
.github-box {
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: #2c2c2c;
  right: -74px;
  top: -74px;
  transform:rotate(45deg);
}
.github-box:hover {
  background-color: #4c4c4c;
}
.github-box a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  height: 100%;
}
.hidden-cursor {
  width: 100%;
  height: 15vh;
  bottom: 0;
  z-index: 2;
  position: absolute;
  cursor: none;
}
.ipc-info {
  /* padding-top: 10vh; */
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 3;
}
.ipc-info a {
  color: #9a9a9a;
  font-size: 12px;
}
